**/*.pyc
**/*.mo
__pycache__
pip-selfcheck.json
/core/admin/lib*
/core/admin/bin
/core/admin/include
/core/base/.venv
/docs/lib*
/docs/bin
/docs/include
/docs/_build
/.env
/.venv
/docker-compose.yml
/.idea
qemu-arm-static
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
